<div>
  <form {{action 'createItem' on="submit"}}>
    {{input type="text" placeholder='Add Title' value=text focus-out="toggleAddingItem"}}
    <button {{action 'createItem'}}>Add</button>
  </form>
</div>
