<a class='item-show' href='#' {{action 'openModal'}}>
  <div class='item-title'>{{item.title}}</div>
</a>

{{modal-component item=item list=list modalOpen=modalOpen
  onSubmit=(action 'itemSubmit') onConfirm=(action 'deleteItem')}}
