<li class="list">
  <h3>{{list.name}}</h3>

  <ul class="list-items">
    {{#each list.items as |item| }}
      {{todo-item item=item}}
    {{/each}}
    <a class="add-card-link" href="#" {{action 'addNewItem'}}>Add New Item</a>
  </ul>
</li>
