html, body, button, h2, input, ul, input, link, li, a, button {
  margin: 0;
  border: 0;
  padding: 0;

  list-style: none;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;
  background: transparent;
  outline: none
}



body {
  font-family: 'Helvetica Neue';
  background: lightgray;
  font-size: 20px;
  height: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  padding: 0;
  letter-spacing: -1.2px;
}

/* Header */

.header {
  text-align: center;
  background: #41E33E;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

/* Lists */

.lists {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.list-wrapper {
  margin: 50px;
}

.list {
  padding: 50px;
  background: #D3F3B5;
  border-radius: 5px;
  width: 200px;
  box-shadow: 10px 10px 5px #888888;
}

.list-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 10px;
}

.list-title-edit-button {
  font-weight: bold;
  font-size: 16px;
  margin-right: 50px;
}

.list-title-edit-button:hover {
  cursor: pointer;
}

.list-title-edit input {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 10px;
}

.list-title:hover {
  color: #2B63FE;
}

.list-items {
  margin-top: 20px;
}

/* Items */

.item-title{
  min-height: 16px;
  font-size: 16px;
  font-weight: 500;
  margin-top: 20px;
  padding: 5px;
  background: white;
  border-radius: 5px;
}

.item-title:hover {
  background: #E9E8E8;
}

/* Add an item */

.create-item {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 500;
}

.create-item:hover {
  color: #2B63FE;
}

.create-item-title > input {
  min-height: 30px;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 10px;
  padding: 5px;
}

.create-item-form {
  background: white;
  border-radius: 5px;
}

.create-item-title > input {
  font-size: 16px;
  font-weight: 500;
}

/* Add a list */

.create-list-button {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 10px;
}

.create-list-button:hover {
  cursor: pointer;
  color: #2B63FE;
}

.create-list {
  width: 200px;
  padding: 50px;
  text-align: center;
}

/* Modal */

.modal-outer {
  z-index: 10;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

.modal-content {
  z-index: 20;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  padding: 0;
  margin-top: 200px;
  margin-left: 33%;
  margin-right: 33%;
  position: absolute;
  background: white;
  width: 500px;
  height: 300px;
  display: flex;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.modal-form {
  margin: 10px;
  font-size: 24px;
  font-weight: 500;
}

.modal-form-title {
  display: flex;
  flex-direction: row;
  padding: 20px;
  border-top: 1px solid #efefef;
}

.modal-form-title > div {
  padding-right: 110px;
}

.modal-form input {
  background: lightgray;
  padding: 10px;
  min-width: 250px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 500;
}

.modal-form-description {
  display: flex;
  flex-direction: row;
  padding: 20px;
  border-top: 1px solid #efefef;
}

.modal-form-description > div {
  padding-right: 35px;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-top: 1px solid #efefef;
}

.modal-buttons > button {
  font-size: 16px;
}

.modal-buttons > button:hover {
  cursor: pointer;
  color: #2B63FE;
  font-weight: bold;
}
